.custom-toolbar {
    background-color: #8B0000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-menu{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.custom-toolbar .menu-button {
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.custom-toolbar .menu-button:hover {
    background-color: #3d5269;
}

.custom-toolbar h1 {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, color 0.3s ease-in-out;
    margin-left: 1rem; 
}

.custom-toolbar #my-app:hover {
    transform: scale(1.05);
}

.hrs {
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, #fff, transparent);
    width: 100%;
}


.pesquisar {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0.3em;
    height: 3.1rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 0 5px;
    border-radius: 5px;
    margin-left: auto; 
    display: flex;
    align-items: center;
    gap: 0;
}

.pesquisar input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    width: 280px;
    outline: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(255, 255, 255, 0.8);
}

.pesquisar input::placeholder {
    color: rgb(100, 100, 100);
    font-style: italic;
}

.pesquisar button {
    transition: background-color 0.3s ease;
    background: #D4AF37;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
}

.pesquisar button:hover {
    background: #aa891f;
}

.filter-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 10px;
    background-color: #fff;
    padding: 15px;
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    animation: slideInFromLeft 0.3s ease-out;
}
@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.menu-form {
    gap: 4px;
    font-family: Arial, sans-serif;
}
.menu-form p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
mat-radio-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
mat-radio-button {
    font-size: 14px;
}
.menu-form button {
    background-color: #D4AF37;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-form button:hover {
    background-color: #aa891f;
}

@media (max-width: 768px) {

    .custom-toolbar {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    .pesquisar {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }
}
