.body {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 0;
    border: 0;
    margin: 0;
    overflow-x: hidden;
    margin-top: 8rem;
}

.book-container {
    background-color: #f1f1f1;
    padding: 8px;
    margin-right: 200px;
}

.book-card img {
    width: 135px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.book-card:hover {
    transform: scale(1.05);
}
.row-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.links{
    color: black;
    text-decoration: none;
}

.book-card {
    display: inline-block;
    flex: 0 0 auto;
    cursor: pointer;
    width: 170px;
    height: 250px;
    margin: 4px;
    background-color: #fffdfd;
    text-align: center;
    overflow: hidden;
}

.titles{
    font-size: 13px;
}

@media (max-width: 768px) {
    .book-card {
        width: 150px;
    }
}