<div class="body">
    <div  class="book-container" *ngIf="searchQuery.length > 0">
        <h2 class="row-title">Resultados da Pesquisa</h2>
            <div class="book-card" *ngFor="let book of searchQuery">
                <a class="links" [routerLink]="['/viewBook', book.key.replace('/works/', '')]">
                    <img
                    [src]="'https://covers.openlibrary.org/b/id/' + book.cover_i + '-L.jpg'"
                    alt="Capa do Livro"
                />
                <h3 class="titles">{{ book.title }}</h3>
            </a>
        </div>
    </div>

    <ng-template #noResults>
        <h2 class="row-title">Nenhum resultado encontrado</h2>
    </ng-template>

    <div class="pagination" *ngIf="searchQuery.length > 0">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
    </div>
</div>
