<div class="filtros">

    <form>
        <p>Busca por Autor de livros</p>
        <div>
            <label>
            <input type="text">
            </label>
        </div>
        <button type="submit">Filtrar</button>
    </form>

    <form (ngSubmit) = "onSubmitByGenres()">
        <p>Filtrar livros por gênero</p>
        <div *ngFor="let option of options">
            <label>
            <input type="checkbox" [(ngModel)]="option.selected" [name]="option.value">
            {{ option.label }}
            </label>
        </div>
        <button type="submit">Filtrar</button>
    </form>
</div>