.body {
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 2rem; 
    flex-wrap: wrap; 
    padding: 2rem;
    flex-direction: row-reverse; 
    margin-top: 8rem;

}


.info-book {
    max-width: 800px;
    margin-left: 1rem;
}


img {
    margin-top: 20px;
    width: 200px;
    max-width: 350px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 1px 2px 20px 0 #9a5542;
    
}

.cover-image{
    text-align: center;
    height: 500px;
    width: 300px;
    border: 1px solid #ddd;
}
.quero-ler a{
    text-decoration: none;
    color: white;}

.quero-ler{
    text-decoration: none;
    width: 80%;
    margin: 10px;
    padding: 15px;
    color: white;
    font-size: 15px;
    background-color:#1985A1 ;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease; 

}

.quero-ler:hover {
    background: #3d5269;
}

.generos {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte */
    gap: 10px; /* Adiciona espaçamento entre os itens em ambas as direções (horizontal e vertical) */
    align-items: flex-start; /* Para permitir que os gêneros ocupem várias linhas, se necessário */
}

.genre-item {
    background-color: #f0f0f0; 
    padding: 5px 10px;
    margin-right: 8px; /* Espaçamento entre os gêneros */
    border-radius: 4px; 
    font-size: 14px;
    color: #333;
}

.autores{
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte */
    gap: 15px; /* Adiciona espaçamento entre os itens em ambas as direções (horizontal e vertical) */
    align-items: flex-start; 
}

.autores a{
    text-decoration: none;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    background-color: antiquewhite;
}

.genre-item:hover {
    background-color: #e0e0e0; /* Efeito de hover, se desejado */
}

/* Responsividade */
@media (max-width: 900px) {
    .body {
        flex-direction: column;
        align-items: center;
    }

    .info-book {
        text-align: center;
    }

    img {
        max-width: 250px;
    }
}
